@tailwind base;
@tailwind components;
@tailwind utilities;

.ripple {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-radius: 50%;
    pointer-events: none;
    top: 40%;
    left: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 4px 0vw rgba(0, 0, 0, 0.2);
}

.card:hover {
    transform: rotateX(50deg) translateY(-30%);
}

.translate-center-top {
    transform: translate(-50%, -100%);
}
